.card{
    margin:90px 20px 20px 20px;
    padding:20px;
}
.a{
    margin-top:30px;
    font-size:20px;
}

.flag-img{
    height:30px; 
    width:30px;
}

.form-group{
    height:70px !important;
}

.select-players{
    margin-left:50px;
}

.save-btn {
    margin: 10px 20px 20px 5px;
    border: none;
    background-color: #594aa8;
    color: white;
    border-radius: 5px !important;
    padding: 10px;
 }

 .score{
    border:#594aa8;
 }
